@font-face {
  font-family: 'icon-font';
  src:  url('fonts/icon-font.eot?96n4v5');
  src:  url('fonts/icon-font.eot?96n4v5#iefix') format('embedded-opentype'),
    url('fonts/icon-font.ttf?96n4v5') format('truetype'),
    url('fonts/icon-font.woff?96n4v5') format('woff'),
    url('fonts/icon-font.svg?96n4v5#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-copy-icon:before {
  content: "\e900";
}
.ic-cvv-icon:before {
  content: "\e901";
}
.ic-home-icon:before {
  content: "\e902";
}
.ic-messenger-icon:before {
  content: "\e903";
}
.ic-share-icon:before {
  content: "\e904";
}
.ic-balance-icon:before {
  content: "\e905";
}
.ic-stats-icon:before {
  content: "\e906";
}
