@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --active: #DCD4FF;
  --black: #121212;
  --blue: #614AD3;
  --dark: #2F333C;
  --bg: #282B33;
  --grey: #CBCCC4;
  --white: #fff;
  --gradient_grey: linear-gradient(to bottom, #5E5A5A, #636363, #BEC7D7);
  --gradient: linear-gradient(to bottom, #614AD3, #E42C64);
  --gradient_body: linear-gradient(to right bottom, #DCFFC0, #C0FFFB);
  --gradient_text: linear-gradient(45deg, #FFC1D4, #AB9AFF); 
}

*, *::after, *::before {  
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--gradient_body);
}
